*{
    --blanco: #DBF2E8;
    --negro: #050F0B;
    --accent: #59D59F;
    --secondary: #227C55;

    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.root{
    background-color:var(--blanco);
}

a{
    padding: 10px;
    color: var(--negro);
    animation-timing-function: ease-in-out;
    transition: .1s;
}

a:hover{
    color: var(--accent);
    animation-timing-function: ease-in-out;
    transition: .1s
}

svg{
    width: 26px;
    height: 26px;
    transform: translateY(7px);
}

.consulta{
    margin: auto;
    border-collapse: collapse;
    width: 70%;
    color: var(--negro);
}

.consulta td{
    border: 1px solid #ddd;
    padding: 8px;
}

.consulta th{
    border: 1px solid var(--secondary);
    padding: 8px;
    background-color: var(--accent);
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-weight: 500;
}

.consulta tr:nth-child(even){background-color: #f2f2f2;}

.consulta tr{
    background-color: #ffff;
}

.paginas{
    margin: auto;
    padding: 10px;
}